version: 2
jobs:
  build:

    working_directory: ~/src

    docker:
      - image: circleci/openjdk:11-stretch

    steps:

      - checkout

      - run: CalculatorTest

      - store_test_results:
          path: /CalculatorTest/src/test/java/

      - store_artifacts:
          path: /home/circleci/at.jku.se.prse.example.calculator/at.jku.se.prse.example.calculator/target/